doctype html
html
	head
		title="Zadanie 4 - PUG"
		style
			include ../assets/style.css
	body
		div.wrapper
			p.greeting#people This is application to log in using Google.
			a(href="/auth/google") Log in
		include ./footer.pug